p.test
{
width:11em; 
border:1px solid #000000;
word-wrap:break-word;
}
input[type="text"]:focus, textarea:focus, input[type="search"]:focus, input[type="password"]:focus {
	outline:none;
}

a:link, a:visited, a:hover, a:active {
    color: #1f415d;
	text-decoration: none;
}

body {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color: rgb(239, 239, 239);
}


.navbar {
background:url(../imgs/nav_bg.jpg);
height:58px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

.MonthItemBox {
background:url(../imgs/item-boxbg.jpg);
width:141px;
height:106px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

.ServerStatus {
background:url(../imgs/box-status.jpg);
width:230px;
height:27px;
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}

.header {
padding: 0pt; margin-top: 0pt; margin-bottom: 0pt; background-image: url(../imgs/header.jpg); background-color:#efefef; background-repeat: no-repeat; background-position:center; height: 306px;
}

.section_blanco2 {
padding: 0pt;
margin-top: 0pt; margin-bottom: 0pt; background-color: rgb(226, 226, 226); height: 192px; border-bottom: 1px solid #d1d1d1;
}

.contenido {
padding: 0pt;
margin-top: 0pt; margin-bottom: 0pt; background-color: rgb(241, 241, 241);
}

.footer {
padding: 0pt;
margin-top: 0pt; margin-bottom: 0pt; background-color: rgb(226, 226, 226); border-top: 1px solid #d1d1d1; }

.trailerbox {
background:url(../imgs/video-minibox.jpg) no-repeat;
width:230px;
height:134px;
vertical-align: middle;
padding-top: 5px; 
margin-top: 5px;
}

.imagenesbox {
background:url(../imgs/images-minibox.jpg) no-repeat;
width:230px;
height:113px;
vertical-align: middle;
}

.ImgBoxBorder {
	border: 2px solid #ffffff;
	outline: 1px solid #c6c6c6;
}

.facebookbox {
width:230px;
height:437px;
vertical-align: middle;
}

.InputBoxBG1 {
background:url(../imgs/inputbox-1.jpg);
width:170px;
height:27px;
box-shadow: 0px 1px 0px #ffffff;
}

.InputBoxBG2 {
background:url(../imgs/inputbox-2.jpg);
width:170px;
height:27px;
}

.iptbox1 {
	background:url(../imgs/input-1.jpg) top left no-repeat;
	width: 121px;
	height: 22px;
	border: 0px;
	margin-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: none;
	color: #8e8e8e;
	padding-left: 3px;
}
.iptbox2 {
	background:url(../imgs/input-2.jpg) top left no-repeat;
	width: 121px;
	height: 22px;
	border: 0px;
	margin-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: none;
	color: #8e8e8e;
	padding-left: 3px;
}
.iptbox3 {
	background:url(../imgs/input-3.jpg) top left no-repeat;
	width: 121px;
	height: 22px;
	border: 0px;
	margin-bottom: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: none;
	color: #8e8e8e;
	padding-left: 3px;
}

.iptbox4 {
	background: #bfbdbd;;
	width: 50px;
	height: 20px;
	border: 0px;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: none;
	color: #2c2b2b;
	padding-left: 3px;
}

.iptsub1 {
	background: url(../imgs/boton/registrarme.jpg);
	width: 128px;
	height: 26px;
	border: 0;
	cursor: hand;
	cursor: pointer;
}

.iptres1 {
	background: url(../imgs/boton/limpiarcampos.jpg);
	width: 128px;
	height: 26px;
	border: 0;
	cursor: hand;
	cursor: pointer;
}

.TopRanking {
background: transparent url(../imgs/box-topranking.jpg) no-repeat;
background-position: 0px 4px;
width:230px;
height:200px;

}


.TextoNaranjaBold {
font-weight: bold; 
font-family: Arial;
color: #d69700;
text-shadow: 0px 1px 0px #ffffff;
font-size:14px;
}
.TextoGrisClaro {
font-family: Arial; 
color: rgb(157, 157, 157);
text-shadow: 0px 1px 0px #ffffff;
font-size:11px;
}

.TextoGris2 {
color: rgb(130, 130, 130); 
font-family: Arial;
text-shadow: 0px 1px 0px #ffffff;
font-size:11px;
}

.TextoVerde {
font-family: Arial; 
font-weight: bold; 
color: rgb(116, 190, 0);
text-shadow: 0px 1px 0px #ffffff;
font-size:11px;
}

.TextoJugadoresOnline {
color: rgb(134, 161, 205); 
font-family: Arial; 
font-weight: bold;
text-shadow: 0px 1px 0px #ffffff;
font-size:11px;
line-height: 27px;
}
.TextoBlanco {
font-weight: bold; 
font-family: Arial; 
color: white;
text-shadow: 0px 1px 0px #000000;
font-size:11px;
}
.TextoGrisClaro2 {
font-family: Arial; 
color: rgb(119, 119, 119);
text-shadow: 0px 1px 0px #ffffff;
font-size:10px;
}
/* Estilos para la Tabla de Ranking */
.bxrankall {
	font-family: Arial; 
	font-weight: bold; 
	color: #dfdfdf;
	font-size:10px;
}

.bxrankleyen {
	font-family: Arial; 
	font-weight: bold; 
	color: #a7a7a7;
	text-shadow: 0px 1px 0px #ffffff;
	font-size:10px;
}

.bxranklist {
	font-family: Arial; 
	font-weight: bold; 
	color: #696969;
	font-size:10px;
}

.bxrankbuscar {
	background: #535353 url(../imgs/ranking/buscarbg.jpg) top left no-repeat;
	width: 115px;
	height: 17px;
	border: 0;
	font-family: Arial;
	font-weight: bold;
	color: #dfdfdf;
	font-size:10px;
}

.rankIR {
	background: url(../imgs/ranking/ir.jpg);
	width: 33px;
	height: 16px;
	border: 0;
	cursor: hand;
	cursor: pointer;
	position: relative;
	top: 3px;
}

.rankpages {
	color:#5b76a4; 
	text-shadow: 0px 1px 0px #ffffff; 
	font-weight: bold; 
	text-decoration:none;
}
.rankpages a:link, .rankpages a:visited, .rankpages a:hover, .rankpages a:active {
	color:#5b76a4; 
	text-shadow: 0px 1px 0px #ffffff; 
	font-weight: bold; 
	text-decoration:none;
}

/* Fin Estilos para la Tabla de Ranking */




.topitem {
	background: url(../imgs/topitem.jpg) top left no-repeat;
}

.msgbar1 {
	background: #e6d470;
	width: 427px;
	height: 24px;
	border: 1px solid #baab00;
	color: #9d4b3e;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	letter-spacing: -0.6px;
	
}

.rboxform {
	color: #a2a2a2;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
	letter-spacing: -0.6px;
}

.trank{
	color: #4a4a4a;
	font-color: #4a4a4a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.BoxCws {
	background: url(../imgs/boxcw.jpg);
	background-repeat: no-repeat;
	width: 429px;
	height: 32px;
	align: left;
	text-align: left;
	display: inline-table;
	border: 0px solid #F00;
}

.BoxCws-Text {
	border: 0px solid #FF0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #a0a0a0;
	width: 370px;
	text-align: left;
	margin-left: 52px;
	margin-top: 8px;
	align: left;
}

.BoxUO{
	background: url(../imgs/boxuseronline.jpg) top left no-repeat;
	width: 208px;
	height: 101px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #8e8e8e;
	text-align:justify;

}

.BoxAV{
	background: url(../imgs/boxactividad.jpg) top left no-repeat;
	width: 208px;
	height: 101px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #8e8e8e;
	text-align:justify;

}

.Bxtpitem{
	position: absolute;
	margin-top: -108px;
	margin-left: 8px;
	opacity: 0;
   	filter: alpha(opacity=0); 
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
	-o-transition-duration: 1s;
    transition-duration: 1s;
}

.Bxtpitem:hover{
	opacity: 1;
   	filter: alpha(opacity=100); 
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
	-o-transition-duration: 1s;
    transition-duration: 1s;
}




/* Example One */
#example-one { 
	margin: 0 auto; 
	list-style: none; 
	position: relative; 
	width: 960px; 
}
#example-one li { 
	display: inline-block;	
}
#example-one a { 
	color: #bbb; 
	font-size: 14px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#example-one a:hover { 
	color: white; 
}
#magic-line { 
	position: absolute;
	left: 0; 
	width: 151px; 
	height: 4px; 
	background:url(../imgs/nav/linea-hover.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}
/* Clearfix */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
.tabs {
        margin: 0px 0px;
        width: 232px;
 
}
 
.tabs input {
        position: relative;
        z-index: 1000;
        width: 15px;
        height: 40px;
        left: 0px;
        top: 0px;
        opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
        cursor: pointer;
        cursor: hand;
}
.tabs input#tab-2{
        left: 9px;
}
 
 
 
.tabs label {
        height: 10px;
        position: relative;
        top: 0;
        left: 195px;
        top: 25px;
        padding: 0 1px;
    float: left;
        display: block;
        width: 10px;
        color: #385c5b;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 0px 0px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
        border: 0px solid #232323;
        z-index: 800;
}
 
.tabs label:after {
    contex: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        display: block;
        z-index: 700;
}
 
.tabs input:hover + label {
        position: relative;
        z-index: 600;
}
 
.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}
 
.tab-label-2 {
        position: relative;
    z-index: 500;
}
 
.tab-label-3 {
    z-index: 501;
}
 
.tab-label-4 {
    z-index: 502;
}
 
.tabs input:checked + label {
        z-index: 6;
                position: relative;
}
 
.clear-shadow {
        clear: both;
}
 
.contex {
        position: relative;
    width: 100%;
        height: 205px;
        z-index: 2;
}
 
.contex div {
    position: absolute;
        top: 0;
        left: 0;
        padding: 0px 0px;
        z-index: 1;
    opacity: 0;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}
 
.tabs input.tab-selector-1
{
position:inherit;
display: none;
}
.tabs input.tab-selector-2
{
position:inherit;
display: none;
}
.tabs input.tab-selector-1:checked ~ .contex .contex-1,
.tabs input.tab-selector-2:checked ~ .contex .contex-2,
.tabs input.tab-selector-3:checked ~ .contex .contex-3,
.tabs input.tab-selector-4:checked ~ .contex .contex-4 {
        z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
 
    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.contex div h2,
.contex div h3{
        color: #398080;
}
.contex div p {
        font-size: 14px;
        line-height: 22px;
        font-style: italic;
        text-align: left;
        margin: 0;
        color: #777;
        padding-left: 15px;
        font-family: Cambria, Georgia, serif;
        border-left: 8px solid rgba(63,148,148, 0.1);
}
.AGNoticias {
	color: #717171;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.AGNoticiasDate {
	color: #a4a4a4;
	align: right;
	vertical-align: middle;
}